<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="content-style-type" content="text/css" />
<title>css3 button sample</title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--> 
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/button.css" />
</head>
<body>


<h2>white (default)</h2>

<input type="submit" value="button" class="b2"> <input type="submit" value="long long long label" class="b2"> <input type="submit" value="日本語のラベル" class="b2">


<h2>black</h2>

<input type="submit" value="button" class="b2 black"> <input type="submit" value="long long long label" class="b2 black"> <input type="submit" value="日本語のラベル" class="b2 black">


<h2>gray</h2>

<input type="submit" value="button" class="b2 gray"> <input type="submit" value="long long long label" class="b2 gray"> <input type="submit" value="日本語のラベル" class="b2 gray">


<h2>blue</h2>

<input type="submit" value="button" class="b2 blue"> <input type="submit" value="long long long label" class="b2 blue"> <input type="submit" value="日本語のラベル" class="b2 blue">


<h2>red</h2>

<input type="submit" value="button" class="b2 red"> <input type="submit" value="long long long label" class="b2 red"> <input type="submit" value="日本語のラベル" class="b2 red">


<h2>orange</h2>

<input type="submit" value="button" class="b2 orange"> <input type="submit" value="long long long label" class="b2 orange"> <input type="submit" value="日本語のラベル" class="b2 orange">


<h2>pink</h2>

<input type="submit" value="button" class="b2 pink"> <input type="submit" value="long long long label" class="b2 pink"> <input type="submit" value="日本語のラベル" class="b2 pink">


<h2>rosy</h2>

<input type="submit" value="button" class="b2 rosy"> <input type="submit" value="long long long label" class="b2 rosy"> <input type="submit" value="日本語のラベル" class="b2 rosy">


<h2>green</h2>

<input type="submit" value="button" class="b2 green"> <input type="submit" value="long long long label" class="b2 green"> <input type="submit" value="日本語のラベル" class="b2 green">


</body>
</html>
